@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f8fafc;
  --color-bg-tertiary: #f1f5f9;
  
  --color-border-secondary: #cbd5e1;
  --color-border-tertiary: #e2e8f0;
  
  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-tertiary: #94a3b8;
  
  --color-text-info: #0284c7;
  --color-bg-info: #e0f2fe;
  
  --color-text-success: #15803d;
  --color-bg-success: #dcfce7;
  
  --color-text-warning: #b45309;
  --color-bg-warning: #fef3c7;
  
  --color-text-danger: #b91c1c;
  --color-bg-danger: #fee2e2;
  
  --color-primary-green: #1D9E75;
  --color-primary-info: #378ADD;
}

/* Beautiful custom scrollbars for unified look on all OSes */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-border-secondary);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-tertiary);
}
